* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  /* font-family: "Google Sans Regular"; */
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  background: rgb(5, 6, 45);
}

header {
  width: 100%;
  height: 80px;
  background: #11101b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

main h2,
main p,
main div {
  padding-left: 10px;
}

.homeContainer {
  width: 100%;
  height: 85vh;
}

.containerHeader {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* background-color: #11101b; */
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #fefefe;
}

.hamburger {
  display: none;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul a {
  display: block;
  color: #fefefe;
  font-size: 16px;
  padding: 10px 25px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover {
  color: #11101b;
}

.nav-bar ul li.dropdown {
  position: relative; /* Needed for positioning the dropdown menu */
}

.nav-bar ul li.dropdown > .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #202020;
  padding: 10px;
  border: 1px solid #ccc;
}

.nav-bar ul li.dropdown:hover > .dropdown-menu {
  display: block;
}

.nav-bar ul li {
  font-size: 30px;
}

.currency-dropdown {
  position: relative;
  display: inline-block;
}

.current-currency {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.currency-symbol {
  font-size: 20px;
  margin-right: 5px;
}

.currency-list {
  color: #11101b;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  list-style: none;
}

.currency-list li {
  cursor: pointer;
  padding: 5px;
}

.currency-list li:hover {
  background-color: #f0f0f0;
}

.currency-dropdown .currency-list.active {
  display: block;
}
.imgHeaderContainer {
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}
.imgHeader {
  width: auto;
  height: 50vh;
  background-color: aqua;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}
.recommended ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.recommended ul a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  color: #fefefe;
  padding: 10px 25px;
  background: rgb(5, 6, 45);
  border-radius: 17px;
  width: 100%;
  height: 100%;
}
.recommended ul li {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}
.viewstore {
  background-color: #00ddeb;
}

.featured-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
  gap: 20px; /* Gap between grid items */
}
.featured-item {
  width: auto;
  height: auto;
  color: #11101b;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}

.footer {
  display: flex;
  margin-top: 10px;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  font-size: 25px;
  align-items: center;
  justify-content: center;
}

.footer ul li {
  display: inline;
  padding: 10px;
}

.footer ul li a {
  color: #fff;
}

.footer ul li a.menu:hover {
  text-decoration: underline;
}

.login {
  margin-top: 20vh;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}
/* Bordered form */
form {
  width: 20vw;
  height: 100%;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}

/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background: rgb(5, 6, 45);
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  color: white;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
  padding: 2px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 2px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}
.buttoncontainer {
  padding: 10px 25px;
  background: rgb(5, 6, 45);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.logincontainer {
  padding: 10px 25px;
  background: rgb(5, 6, 45);
  border-radius: 17px;
  width: 100%;
  height: 100%;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

@media only screen and (max-width: 1320px) {
  header {
    padding: 0 50px;
  }

  .container {
    max-width: 960px;
  }

  .story {
    margin-top: 1rem;
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }

  .container {
    max-width: 960px;
  }

  .story {
    margin-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media only screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
  }

  .nav-bar {
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    background: #11101b;
    transition: 0.5s;
    overflow: hidden;
  }

  .nav-bar.active {
    height: 450px;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .nav-bar.active ul {
    opacity: 1;
  }

  .nav-bar ul li a {
    margin-bottom: 12px;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .story {
    margin-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
